@namespace Preline.Blazor.Components
@inherits PrelineComponentBase

<CascadingValue Value="this" IsFixed>
    <div class="@Class" role="alert" tabindex="-1" aria-labelledby="@Id" @attributes="AdditionalAttributes">
        @if (Icon is not null)
        {
            <span class="me-3">@Icon</span>
        }

        <div class="flex-1">
            @ChildContent
        </div>

        @if (Action is not null)
        {
            <div class="ms-3">@Action</div>
        }
    </div>
</CascadingValue>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public RenderFragment? Action { get; set; }

    [Parameter] public string Id { get; set; } = $"hs-alert-{Identifier.NewId()}";
    [Parameter] public Variants Variant { get; set; } = Variants.Solid;

    private string Class => new CssBuilder("flex items-start rounded-lg p-4 border shadow-sm")
        .Add(SelectClasses())
        .Add(AdditionalAttributes)
        .Build();

    private string SelectClasses() => Variant switch
    {
        Variants.Solid => "bg-white border-gray-200 text-gray-800 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-200",
        Variants.Outlined => "border border-gray-200 text-gray-800 dark:border-neutral-700 dark:text-neutral-200",
        Variants.Soft => "bg-gray-50 text-gray-800 dark:bg-neutral-800/5 dark:text-neutral-200",
        _ => string.Empty
    };

    public enum Variants { Solid, Outlined, Soft }
}
