@namespace Preline.Blazor.Components
@inherits PrelineComponentBase

<h6 class="@Class" @attributes="AdditionalAttributes">
    @ChildContent
</h6>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string Class => new CssBuilder("text-base dark:text-white")
        .Add(AdditionalAttributes)
        .Build();
}