@namespace Preline.Blazor.Components
@inherits PrelineComponentBase

<h1 class="@Class" @attributes="AdditionalAttributes">
    @ChildContent
</h1>

@code
{
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string Class => new CssBuilder("text-4xl dark:text-white")
        .Add(AdditionalAttributes)
        .Build();
}