@namespace Preline.Blazor.Components
@inherits PrelineComponentBase

<Button id="@Dropdown.Id" class="@Class" aria-haspopup="menu" aria-expanded="false" aria-label="Menu" @attributes="AdditionalAttributes">
    @ChildContent
</Button>

@code
{
    [CascadingParameter] private Dropdown Dropdown { get; set; } = default!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string Class => new CssBuilder("hs-dropdown-toggle inline-flex items-center justify-center gap-x-2")
        .Add(AdditionalAttributes)
        .Build();
}