@namespace Preline.Blazor.Components
@inherits PrelineComponentBase

<div class="@Class" role="menu" aria-orientation="vertical" aria-labelledby="@Dropdown.Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code
{
    [CascadingParameter] private Dropdown Dropdown { get; set; } = default!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string Class => new CssBuilder("hs-dropdown-menu z-10 hidden opacity-0 hs-dropdown-open:opacity-100")
        .Add(AdditionalAttributes)
        .Build();
}