@namespace Preline.Blazor.Components
@inherits PrelineComponentBase

<CascadingValue Value="this" IsFixed>
    <div @attributes="@AdditionalAttributes" class="@Class">
        @ChildContent
    </div>
</CascadingValue>


@code 
{
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public Button.Sizes Size { get; set; }
    [Parameter] public Button.Variants Variant { get; set; } = Button.Variants.Outline;

    private string Class => new CssBuilder("inline-flex rounded-lg shadow-2xs")
        .Add(AdditionalAttributes)
        .Build();
}
