@page "/"


<Button>
    Solid
</Button>

<Button Variant="Button.Variants.Outline">
    Outline
</Button>

<Button Variant="Button.Variants.Ghost">
    Ghost
</Button>

<Button Variant="Button.Variants.Soft">
    Soft
</Button>

<Button Variant="Button.Variants.White">
    White
</Button>

<Button Variant="Button.Variants.Link">
    Link
</Button>